.todo-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #afadadef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.todo-title {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin-left: 30%;
}

.add-todo {
  display: flex;
  margin-bottom: 10px;
}

.add-todo input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 8px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list li.completed {
  background-color: #c1d6e4;
}

.todo-list li span {
  flex-grow: 1;
  cursor: pointer;
}

.todo-list li .actions {
  display: flex;
}

.todo-list li .actions button {
  margin-left: 10px;
}

body{
  background-color: rgb(186, 250, 250);
}